@model test.TJobTitle

@{
    ViewBag.Title = "Details";
}

<h2>Job Description Details</h2>

<div class="body-content">
	<div>
		<h4>Job Descriptions</h4>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				Job Description
			</dt>

			<dd>
				@Html.DisplayFor(model => model.strJobTitleDesc)
			</dd>

		</dl>
	</div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.intJobTitleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
