@{
	ViewBag.Title = "Home Page";
}

<div class="btn-group">
	<button type="submit" name="btnPets" "btn btn-info custom">
		Pets
		<img src="~/Content/Images/pets.jpg" alt="Icon" />
		@Html.ActionLink("Pets", "Index", "TPets")
	</button>
	<button type="submit" class="btn btn-info custom">
		Clients
		<img src="~/Content/Images/clients.jpg" alt="Icon" />
	</button>
	<button type="submit" class="btn btn-info custom">
		Services
		<img src="~/Content/Images/services.jpg" alt="Icon" />
	</button>
</div>

<br />
<br />

<div class="btn-group">
	<button type="submit" class="btn btn-info custom">
		Medications
		<img src="~/Content/Images/medications.jpg" alt="Icon" />
	</button>
	<button type="submit" class="btn btn-info custom">
		Reports
		<img src="~/Content/Images/reports.jpg" alt="Icon" />
	</button>
	<button type="submit" class="btn btn-info custom">
		Employees
		<img src="~/Content/Images/employees.jpg" alt="Icon" />
	</button>

</div>

