@model test.Models.VisitSummary

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="body-content">
    <div class="form-horizontal">
        <div>
            <h4 style="text-decoration: none; padding-top: 10px; padding-left: 10px">
                Owner Details
            </h4>
            <hr style="margin:5px; margin-bottom: 15px" />
            <dl class="dl-horizontal">
                <dt style="white-space:nowrap">
                    @Html.DisplayName("Owner Name")
                </dt>

                <dd style="white-space:nowrap">
                    @Html.DisplayFor(model => model.strOwnerName)
                </dd>
            </dl>
        </div>
    </div>
</div>

