body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('Images/wallpaper-1945409.jpg');
    background-color: black;
    overflow:hidden;
    background-size:cover;
    background-repeat:no-repeat;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:7px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 23px solid #6495ed;
    max-height: 525px;
    overflow-y: overlay;
    overflow-x: overlay;
    max-width: 1400px;
    margin: auto;
}

.flex-container {
    display: flex;
    border: ridge;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.flex-row {
    width: 50%;
}

.form-group-inline {
    margin-bottom: 15px;
    width: 60%;
    display: inline-grid;
}

.text-area {
    display: inline-grid;
    width: 60px;
    margin: 3px;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#test {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 51px;
    height: auto;
    margin: auto;
    width: 100%;
    background: #f9f9f9;
    border: 30px solid #6495ed;
    position: relative;
    color: black;
}

a.classname {
    /*background: url(../Content/Images/icon3.png) no-repeat top left;*/
    display: block;
    width: 60px;
    height: 51px;
    /*text-indent: -9999px;*/ /* hides the link text */
}

.custom {
    width: 200px !important;
    height: 160px;
    display: inline-block;
}

h2{
    text-align:center;
}

h4{
    text-decoration-line:underline;
}

/* Style buttons */
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

/* Style buttons */
.home-btn {
    height: 200px;
    width: 200px;
    margin: 18px;
    background-color: cornflowerblue;
    border: 3.2px solid black;
    color: black;
    font-family: Calibri;
    font-size: x-large
}

/* Darker background on mouse-over */
.home-btn:hover {
    background-color: RoyalBlue;
    border-color: midnightblue;
    color: white;
}


.container {
    width: 100%;
    padding-right: 60px;
    /*border-color: midnightblue;*/
}

.invisible-box {
    padding-top: 30px;
    height: 625px;
    width: 900px;
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 65%;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #101010;
    color: #9d9d9d;
    font-size: 12px;
    padding-left: 2px;
    padding-top: 3px;
/* Style buttons */
.home-btn {
    height: 200px;
    width: 200px;
    margin: 18px;
    background-color: cornflowerblue;
    border: 3.2px solid black;
    color: black;
    font-family: Calibri;
    font-size: x-large
    /*background-color: DodgerBlue;*/ /* Blue background */
    /*border: none;*/ /* Remove borders */
    /*color: white;*/ /* White text */
    /*padding: 12px 16px;*/ /* Some padding */
    /*font-size: 16px;*/ /* Set a font size */
    /*cursor: pointer;*/ /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.home-btn:hover {
    background-color: RoyalBlue;
    border-color: midnightblue;
    color:white;
}


/* Style inputs with type="text", select elements and textareas */
/*input[type=text], select, textarea {
    width: 33%;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
    resize: vertical*/ /* Allow the user to vertically resize the textarea (not horizontally) *//*;
    display: inherit;
}*/

/* Style the submit button with a specific background color etc */
/*input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}*/

.link-icon-details:before {
    display: inline-block;
    height: 32px;
    width: 20px;
    font-family: "FontAwesome";
    content: "\f05a";
}

.link-icon-delete:before {
    display: inline-block;
    height: 32px;
    width: 20px;
    font-family: "FontAwesome";
    content: "\f2ed";
}


