body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('Images/wallpaper-1945409.jpg');
    background-color: #fff;
    overflow:hidden;
    background-size:cover;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border: 30px solid #6495ed;
    max-height: 500px;
    overflow-y:auto;
    width:auto;
    margin:25px;
}

.flex-container {
    display: flex;
    border: ridge;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.flex-row {
    width: 50%;
}

.form-group-inline {
    margin-bottom: 15px;
    width: 60%;
    display: inline-grid;
}

.text-area {
    display: inline-grid;
    width: 60px;
    margin: 3px;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#test {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 51px;
    height: auto;
    margin: auto;
    width: 100%;
    background: #f9f9f9;
    border: 30px solid #6495ed;
    position: relative;
    color: black;
}

a.classname {
    background: url(../Content/Images/icon3.png) no-repeat top left;
    display: block;
    width: 60px;
    height: 51px;
    text-indent: -9999px; /* hides the link text */
}

.custom {
    width: 200px !important;
    height: 160px;
    display: inline-block;
}

h2{
    text-align:center;
}

h4{
    text-decoration-line:underline;
}

/* Style buttons */
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 165px;
    height: 80px;
    display: inline-grid;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

footer {
    background-color: #080808;
    color: white;
    height: 148px;
    font-size: xx-large;
}

.link-icon-edit:before {
    display: inline-block;
    height: 32px;
    width: 20px;
    font-family: "FontAwesome";
    content: "\f044";
    
}

.link-icon-details:before {
    display: inline-block;
    height: 32px;
    width: 20px;
    font-family: "FontAwesome";
    content: "\f05a";
}

.link-icon-delete:before {
    display: inline-block;
    height: 32px;
    width: 20px;
    font-family: "FontAwesome";
    content: "\f2ed";
}


